<nav>
    <h1><a routerLink="/">TrendSeeker</a></h1>

    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>

        <li *ngIf="(authService.user$ | async)">
            <button (click)="logout()">Logout</button>
        </li>

        <li *ngIf="(authService.user$ | async)">
            <a routerLink="/dashboard">Dashboard</a>
        </li>

        <li *ngIf="!(authService.user$ | async)">
            <button (click)="login()">Login</button>
        </li>

        <li *ngIf="!schwabConnected && (authService.user$ | async)">
            <button (click)="schwabLogin()">Connect to Schwab</button>
        </li>
    </ul>

</nav>
